<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
        <link rel="stylesheet" th:href="@{/css/style.css}" />
    </head>
    <body>
            <form class="form-signin" method="post" action="#" th:action="@{/login}">
                <h2 class="form-heading">Log in</h2>

                <div class="form-group">
                    <span th:if="${error}" th:text="${error}">No Error</span>
                    <span th:if="${message}" th:text="${message}">No Error</span>

                    <input name="username" type="text" class="form-control" placeholder="Username"
                           autofocus="true"/>
                    <input name="password" type="password" class="form-control" placeholder="Password"/>

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
                    <h4 class="text-center">
                        <a href="">Create an account</a>
                    </h4>
                </div>
            </form>
    </body>
</html>
